<div class="panel panel-default">
  <div class="panel-heading">
    MESSAGE BOARD
  </div>

  <h1>メッセージ履歴</h1>
   <% @messages.each do |message| %>
    名:<%= message.name %>
    内容:<%= message.body %>
    <br>
   <% end %>
</div>

<div>
<%= form_for(@message) do |f| %>
  名前:
  <br>
  <%= f.text_area :name, size:"30x1" %>

  <br>
  <br>

  内容:(100字以内でご記入下さい。)
  <br>
  <%= f.text_area :body, size:"30x5" %>
  <br>
  <%= f.submit %>
<% end %>
</div>
